{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="border rounded p-5 shadow-sm" style="max-width: 600px; margin: 50px 50px 50px auto; position: relative;">
    <img src="{{ url_for('static', filename='uploads/' + user.image_filename) }}" 
    alt="Profile Picture" 
    style="width: 100px; height: 100px; object-fit: cover; position: absolute; top: 20px; right: 20px; border: 3px solid #007bff;">

    <h1>{{ user.name }}</h1>
    <p style="font-size: 1.2rem;">{{ age }} years Old</p>
    <p style="font-size: 1.1rem;">{{ user.address }}</p>
</div>

{% endblock %}
